@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    background: #232222
}

#body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#header{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: -45rem;
}

#header .logo{
    margin-top: 0.25rem;
    margin-bottom: 1.25rem;
    width: 160px;
    height: auto;
}

#header .h1-mobile{
    display: none;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2.5em;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    transition: 2s ease;
    animation: flow 30s ease-in-out infinite;
    background: linear-gradient(-60deg, #904e95, #904e95, #e73c7e, #ee7752);
    background-size: 300%;

    -webkit-background-clip: text;
        background-clip: text;
    -webkit-text-fill-color: transparent;
}

#navbar li a:hover,
#navbar li a:active{
    color: rgb(255, 255, 255);
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #e73c7e;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}


#close{
    display: none;
}

#header h1{
    margin-top: 2rem;
    padding-bottom: 0.25rem;
    font-size: 42px;
    font-weight: 600;
    animation: flow 30s ease-in-out infinite;
    background: linear-gradient(-60deg, #904e95, #904e95, #e73c7e, #ee7752);
    background-size: 300%;

    -webkit-background-clip: text;
        background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:#e3e6f3;
    height: 40px;
    padding-right: 0.2px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #e73c7e;
    font-size: 18px;
    line-height: 40px;
    width: 0;
    transition: 0.5s;
    
}

::-webkit-input-placeholder{
    color: #e73c7e;
}

.search-btn{
    width: 40px;
    height: 40px;
    border-radius: 70%;
    background: #e3e6f3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}


.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background: #e73c7e;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-radius: 5px;
    border-color: linear-gradient(to right, #b861c6 0%,#ffc7c7 100%);
}

.container .coin-price{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 7px;
}

.container .coin-price:hover{
    cursor: pointer;
    border: 2px solid #b861c6;
}

.container .coin-price .logo{
    width: 70px;
    margin-right: 10px;
}

.container .coin-price .logo img{
    width: 100%;
}

.container .coin-price div{
    display: block;
}

.container .coin-price div h1{
    font-size: 20px;
    font-weight: 600;
    color: #f4f1f2;
}

.chart-container{
    display: flex;
    padding-top: 5rem;
    margin: auto;
    justify-content: center;
    height: 40vh;
    width: 70vw;
}

footer{
    margin-top: 28em;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0px;
    margin: 4em;
}


footer h4{
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: 600;
    animation: flow 30s ease-in-out infinite;
    background: linear-gradient(-60deg, #904e95, #904e95, #e73c7e, #ee7752);
    background-size: 300%;

    -webkit-background-clip: text;
        background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer p{
    font-size: 14px;
    margin: 0 0 8px 0;
    color: #fff;
}

footer a{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}

footer .follow i{
    color: #fff;
    padding-right: 4px;
    cursor: pointer;
    font-size: 24px;
}

footer .install .row img{
    border: 1px solid #b861c6;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color: #b861c6;
}

footer .copyright{
    margin-top: 4em;
    width: 100%;
    text-align: center;
}


@keyframes flow{
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}

@media (max-width:799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        padding: 60px 0 0 50px;
        padding-top: 80px;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }

    #mobile i{
        font-size: 36px;
        padding-left: 20px;
        padding-bottom: 60px;
        color: #e3e6f3;
    }

    #close{
        display: initial;
        position: absolute;
        padding-top: 20px;
        top: 30px;
        left: 30px;
        color: #e73c7e;
        font-size: 24px;
    }

    .logo{
        display:none
    }

    #header .h1-mobile{
        display: flex;
        flex-direction: column;
        padding-bottom: 60px;
        font-size: 36px;
    }

    #header h1{
        font-size: 26px;
        text-align: center;
    }
    
    .search-box{
        display: none;
    }
    .search-txt{
        display: none;
    }
    .search-btn{
        display: none;
    }
    .search-wrapper{
        display:none;
    }

    input{

        font-size: 1rem;
    }

    .container {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        margin: 5rem;
        padding-top: 1em
    }

    .coin-price{
        min-width: 100%;
        height: 30vh;
    }

    .chart-container{
    display: flex;
    padding-top: 0.25rem;
    justify-content: center;
    width: fit-content;
}

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    footer .follow i{
        padding-right: 4px;
        cursor: pointer;
    }
    
    
    footer .install img{
        margin: 10px 0 15px 0;
    }
    
    footer .copyright{
        width: 100%;
        text-align: center;
    }

}

@media (max-width: 477px) {

    h1{
        font-size: 38px;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form{
        width: 100%;
    }

    footer .copyright{
        text-align: start;
    }
}