@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.container .coin-price{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc;
    margin: 7px;
}

.container .coin-price .logo{
    width: 70px;
    margin-right: 10px;
}

.container .coin-price .logo img{
    width: 100%;
}

.container .coin-price div{
    display: block;
}

.container .coin-price div h1{
    font-size: 20px;
    font-weight: 600;
}

